<!-- <nav class="navbar">
    <a routerLink="login">Login</a>
    <a routerLink="profile"> Profile</a>
</nav>     -->
<h1>Hello angular 19</h1>
<h2>{{title1}}</h2>
<h2>{{2+2}}</h2>
<h3>{{x+y}}</h3>
<h3>{{10==10}}</h3>
<h3>{{'hello'.toUpperCase()}}</h3>
<h3>{{title1.length}}</h3>
<app-login></app-login>
<app-signup></app-signup>
<app-profile></app-profile>
<h3>Basic Routing</h3>
<ul>
    <li>
        <a routerLink="login">Login</a>
    </li>
   
      <li>
        <a routerLink="profile">Profile</a>
    </li>
     <li>
        <a routerLink="signup">SignUp</a>
    </li>
</ul>
<button (click)="handleClickEvent()">Click me</button>
<button (click)="sum(10,20)">Click sum</button>
<p>{{name}}</p>
<p>{{k}}</p>

<h1>counter app</h1>
<div style="text-align: center;">   
    <h2 class ="count">{{count}}</h2>
    <div>
        <button (click)="handleIncrement()" class= "btn bg-green">Increment</button>
        <button (click) ="handleCounter('minus')" class= "btn bg-red">Decrement</button>
        <button (click)="handleReset()" class= "btn bg-black">Reset</button>
    </div>
    
</div>

<button class ="btn-1" name="login" (click)="handleEvent($event)">Click Event</button>

<br>
<br>

<div (click)="handleEvent($event)"
style="background-color: green; width: 50px; height: 50px;"></div>

<div (mouseenter)="handleEvent($event)"
style="background-color: red; width: 50px; height: 50px;"></div>

<div (mouseleave)="handleEvent($event)"
style="background-color: black; width: 50px; height: 50px;"></div>

<br>
<br>

<input type="text" 
    (focus)="handleEvent_1($event)"
    (input)="handleEvent_1($event)"
    //(blur)="handleEvent_1($event)"
name="user">

<h1>Get and Set Input Field</h1>
<h1>User Name is : {{displayname}}</h1>
<input type="text" placeholder="Enter user name" (input)="getName($event)" value="{{name1}}">
<br>
<br>
<button (click)="showname()">Get value</button>
<button (click)="setname()">Set Name</button>

<hr>
<br>
<h5>Email is {{email}}</h5>
<input type="text" value ="{{email}}"placeholder="Enter email" #emailField>

<button (click)="getEmail(emailField.value)">Get email</button>
<button (click)="setEmail()">Set email</button>





<h1>If ELSE control flow</h1>
<button (click) ="hidediv()">Hide div</button>
<button (click) ="unhidediv()">Un Hide div</button>
<button (click) ="togglediv()">toggle div</button>
<button (click) ="togglediv()">{{display?'show red div': 'show gold div'}}</button>
@if(display){
<div style="width: 100px; height: 100px;background-color: aqua;"></div>
}
@else{
    <div style="width: 100px; height: 100px;background-color: red;"></div>
}
<!-- remove else if you want to remove div  -->
<!-- @if(x>=10){
<div style="width: 100px; height: 100px;background-color: aqua;"></div>
} -->


<!-- else if is for multiple conditions -->
<h1>else if control flow</h1>
@if(color==1){
    <div style="background-color: red; width: 100px; height: 100px;"></div>
}
@else if (color==2){
    <div style="background-color: blue; width: 100px; height: 100px;"></div>
}
@else if(color==3){
    <div style="background-color: black; width: 100px; height: 100px;"></div>
}
@else{
    <div style="background-color: green; width: 100px; height: 100px;"></div>
}
<br>
<button (click)="handlecolor(1)">Red</button>
<button (click)="handlecolor(2)"> Blue</button>
<button (click)="handlecolor(3)">Black</button>
<button (click)="handlecolor(4)">Green</button>
<br>
<input type="text" (input)="handleInput($event)" placeholder="enter color number">
<br>
<br>
<br>
<h1>Switch case control flow</h1>

<button (click)="handle_color('red')">button click for red</button>
<button (click)="handle_color('yellow')">button click for yellow</button>
<button (click)="handle_color('gold')">button click for gold</button>

@switch(color1){
    @case('red'){
        <h5 style="background-color: red;">red color</h5>
    }
    @case('green'){
        <h5 style="background-color: green;">green color</h5>
    }
    @case('yellow'){
        <h5 style="background-color: yellow;">yellow color</h5>
    }
    @default{
        <h5 style="background-color: skyblue;">NO color match</h5>
    }
}
<br>
<input type="text" (input)="handle_Input($event)" placeholder="enter color ">
<br>
<h1>For Loop</h1>

<h5>{{users[0]}}</h5>

@for(u of users; track u){
    <h5>{{u}}</h5>
}
@for(s of student; track s.name){
    <h5>
        <span>{{s.name}}</span>
        <span>{{s.age}}</span>
        <span>{{s.email}}</span>
        <button (click)="get_Name(s.name)">Get Name</button>
        

    </h5>
}
{{naming}}

<br>
<br>
<h1>Basic of signals</h1>
<h5>{{counter()}}</h5>
<h5>{{x}}</h5>

<button (click)="counter.set(100)">Incresease Value</button>

<button (click)="updateValue('inc')">inc Value</button>

<button (click)="updateValue('desc')">dec Value</button>
<br>

<button (click)="updatesignal()">update</button>
<br>
{{data()}}
<br>
{{data1()}}

<br>
<button (click)="showValue()">update-1</button>
<br>
<br>
{{username()}}
<button (click)="username.set('singh')">update-username</button>
<button (click)="updateusername()">update-username-1</button>


<br>
<h1>effect</h1>
<button (click)="togglevalue()">Toggle value </button>
<br>
{{count3()}}
@if(displayheading()){
<h3 style="background-color: green;">page heading</h3>
}
<br>
<br>
<h1>For loop contextual variables</h1>

@for(s of student1;track s; let i=$index){
    <!-- <h5>thos is our {{$index}} user and name is {{s}}</h5> -->
     
     <!-- <h5>this is our {{i}} user and name is {{s}}</h5> -->

     @if($first){
        <h5 style="background-color: red;">this is our {{i}} user and name is {{s}}</h5>
     }
     @else if ($last){
        <h5 style="background-color: green;">this is our {{i}} user and name is {{s}}</h5>
     }
     
     @else{
        <h5 style="background-color: blue;">this is our {{i}} user and name is {{s}}</h5>
     }
     
}
<h3>Odd Even</h3>
@for(s of student1;track s; let i=$index){
    @if($odd){
        <h5 style="background-color: purple;">this is our {{i}} user and name is {{s}}</h5>
     }
     @else if ($even){
        <h5 style="background-color: skyblue;">this is our {{i}} user and name is {{s}}</h5>
     }
     <h5>{{$count}}</h5>
}
<!-- empty work with for -->
@for(s of student2;track s; let i=$index){
    <h5>{{s}}</h5>
}@empty{
    <h3>no record</h3>
}
@if(student2.length==0){
    <h2>no record found</h2>
}

<h1>Two way Binding</h1>
<input [(ngModel)]="name3" type="text" placeholder="user-name">
<h2>{{name3}}</h2>

<h1>TO DO LIST:--></h1>
<input [(ngModel)]="task" type="text"  placeholder="enter task">
<button (click)="addtask()">Add Task</button>

@for(t of taskList;track t.id){
    <ul style="display: flex;justify-content: space-between;list-style-type: none;">
        <li>{{t.id}}</li>
        <li>{{t.task}}</li>
        <li><button (click)="deletetask(t.id)">delete</button></li>
    </ul>
}

<h1>dynamic Styling:-</h1>
<h2 [style.backgroundColor]="bgcolor" [style.fontSize]="fontsize">dynamic Styling:-</h2>
<h2 [style.backgroundColor]="zoom ? bgcolor:bgcolor1" >dynamooo:-</h2>
<button (click)="updateColor()">Toggle color</button>
<h1 *ngIf="show">Hello</h1>

<h1>ngfor directive</h1>
<ul>
    <li *ngFor="let x of stu">{{x}}</li>
</ul>

<ul>
    <li *ngFor="let x of studentdata">{{x.name}},{{x.age}},{{x.email}}</li>
</ul>

<div *ngIf="login; else elseBlock">
    <a href="">logout</a>
</div>
<ng-template #elseBlock>
    <a href="">login</a>
</ng-template>

<div *ngIf="block==0">
    <h1>Hello-0</h1>
</div>

<div *ngIf="block==1">
    <h1>Hello-1</h1>
</div>

<div *ngIf="block==2">
    <h1>Hello-2</h1>
</div>
<button (click)="updateBlock()">update Block</button>

<h1>ng Switch</h1>

<div [ngSwitch]="color3">
    <h3 *ngSwitchCase="'red'" style="background-color: red;">Red Color</h3>
    <h3 *ngSwitchCase="'blue'" style="background-color: blue;">Blue Color</h3>
    <h3 *ngSwitchCase="'green'" style="background-color: green;">Green Color</h3>
    <h3 *ngSwitchCase="'yellow'" style="background-color: Yellow;">Yellow Color</h3>
    <h3 *ngSwitchDefault>No Color</h3>
</div>


<button (click)="changeColor2('red')"> change color</button>
<button (click)="changeColor2('green')"> change green</button>
<button (click)="changeColor2('yellow')"> change yellow</button>
<button (click)="changeColor2('blue')"> change blue</button>


<router-outlet/>